<app-header></app-header>
<main>

    <section class="promo">

        <div class="promo-text">
            <h2 class="section-title">AI & Robotic Engineering</h2>
            <h3 class="promotion"><span>Changing Your Idea</span> of What Robots <br>Can Do.</h3>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Commodi iusto officia ipsum cum quisquam excepturi distinctio esse ullam, id vel laborum unde? Praesentium amet unde, eveniet ex perspiciatis sunt debitis.</p>
            <app-discovermorebtn></app-discovermorebtn>
        </div>

        <div class="promo-block">
            <div class="block-text">
                <span>12 +</span>  Years Of Experience
                <p>Placerat quis libero et diam tellus lectus sagittis quisque hendrerit. Ipsum tincidunt.</p>
            </div>
        </div>
        
        <div class="play-btn">
            <button class="play">&#9654;</button>
            <p>Let’s see how <br> we did it</p>
        </div>
    </section>

    <section class="about-us">
        <div class="promo-text">
            <h2 class="section-title">ABOUT US</h2>
            <h3 class="promotion">Innovating the Future with <br> AI and Robotics</h3>
        </div>

        <div class="icon-box-container">
            <div class="icon-box">
                <img ngSrc="../../assets/icon.png" width="64" height="64">
                <p class="icon-name">Automation</p>
                <p class="icon-descr">Tincidunt nisi orci sodales non. Netus integer nunc mi nibh cursus vitae ut nulla lobortis. Risus duis bibendum.</p>
            </div>
            <div class="icon-box">
                <img ngSrc="../../assets/icon.png" width="64" height="64">
                <p class="icon-name">Precision</p>
                <p class="icon-descr">Tincidunt nisi orci sodales non. Netus integer nunc mi nibh cursus vitae ut nulla lobortis. Risus duis bibendum.</p>
            </div>
            <div class="icon-box">
                <img ngSrc="../../assets/icon.png" width="64" height="64">
                <p class="icon-name">Accuracy</p>
                <p class="icon-descr">Tincidunt nisi orci sodales non. Netus integer nunc mi nibh cursus vitae ut nulla lobortis. Risus duis bibendum.</p>
            </div>
        </div>

        <div class="grid-container">
            <div class="grid-item"><img ngSrc="../../assets/Logo Client 8.png" width="160" height="30"></div>
            <div class="grid-item"><img ngSrc="../../assets/Logo Client 6.png" width="152" height="39"></div>
            <div class="grid-item"><img ngSrc="../../assets/Logo Client 4.png" width="100" height="51"></div>
            <div class="grid-item"><img ngSrc="../../assets/Logo Client 2.png" width="155" height="40"></div>
            <div class="grid-item"><img ngSrc="../../assets/Logo Client 7.png" width="70" height="44"></div>
            <div class="grid-item"><img ngSrc="../../assets/Logo Client 5.png" width="154" height="34"></div>
            <div class="grid-item"><img ngSrc="../../assets/Logo Client 3.png" width="105" height="40"></div>
            <div class="grid-item"><img ngSrc="../../assets/Logo Client 1.png" width="186" height="41"></div>
          </div>
    </section>

    <section class="featured">
        <app-discovermorebtn></app-discovermorebtn>
        <div class="promo-text">
            <h2 class="section-title">FEATURED</h2>
            <h3 class="promotion">Empowering Industries with Intelligent Automation</h3>
        </div>

        <img ngSrc="../../assets/Image.png" width="657" height="430" class="featured-img">

        <div class="featured-list">
            <div class="feature">
                <img ngSrc="../../assets/Iconf.png" width="38" height="38" class="featured-icon">
                <div class="feature-text">
                    <p class="icon-name">Machine Learning</p>
                    <p class="icon-descr">Integer nunc mi nibh cursus vitae ut nulla lobortis. Risus duis bibendum.</p>
                </div>
            </div>

            <div class="feature">
                <img ngSrc="../../assets/Iconf.png" width="38" height="38" class="featured-icon">
                <div class="feature-text">
                    <p class="icon-name">Machine Learning</p>
                    <p class="icon-descr">Integer nunc mi nibh cursus vitae ut nulla lobortis. Risus duis bibendum.</p>
                </div>
            </div>

            <div class="feature">
                <img ngSrc="../../assets/Iconf.png" width="38" height="38" class="featured-icon">
                <div class="feature-text">
                    <p class="icon-name">Machine Learning</p>
                    <p class="icon-descr">Integer nunc mi nibh cursus vitae ut nulla lobortis. Risus duis bibendum.</p>
                </div>
            </div>
        </div>
    </section>
    
    <section class="funfacts">

        <div class="fact">
            <p сlass="fact-count"><span>64K +</span></p>
            <p class="fact-text">Success Projects</p> 
        </div>

        <div class="fact">
            <p сlass="fact-count"><span>54 +</span></p>
            <p class="fact-text">Expert Team</p> 
        </div>

        <div class="fact">
            <p сlass="fact-count"><span>36K +</span></p>
            <p class="fact-text">Satisfied Clients</p> 
        </div>

        <div class="fact">
            <p сlass="fact-count"><span>25 +</span></p>
            <p class="fact-text">Awards Wining</p> 
        </div>

    </section>

    <section class="ourservises">
        <app-discovermorebtn></app-discovermorebtn>
        <div class="promo-text">
            <h2 class="section-title">Our Services</h2>
            <h3 class="promotion">Revolutionize Your Industry with AI and Robotics</h3>
        </div>

        <div class="grid-container">
            <div class="grid-item">
                <img ngSrc="../../assets/icon.png" width="64" height="64" class="service-icon">
                <p class="service-name">Inspection</p>
                <p class="service-descr">Augue congue turpis ut purus ut nibh sit. Et consectetur elit volutpat blandit sed facilisis. At in orci vel a vestibulum egestas. Ut faucibus.</p>
                <a href="" class="service-link">Learn More</a>
            </div>
            <div class="grid-item">
                <img ngSrc="../../assets/icon.png" width="64" height="64" class="service-icon">
                <p class="service-name">Inspection</p>
                <p class="service-descr">Augue congue turpis ut purus ut nibh sit. Et consectetur elit volutpat blandit sed facilisis. At in orci vel a vestibulum egestas. Ut faucibus.</p>
                <a href="" class="service-link">Learn More</a>
            </div>
            <div class="grid-item">
                <img ngSrc="../../assets/icon.png" width="64" height="64" class="service-icon">
                <p class="service-name">Inspection</p>
                <p class="service-descr">Augue congue turpis ut purus ut nibh sit. Et consectetur elit volutpat blandit sed facilisis. At in orci vel a vestibulum egestas. Ut faucibus.</p>
                <a href="" class="service-link">Learn More</a>
            </div>
            <div class="grid-item">
                <img ngSrc="../../assets/icon.png" width="64" height="64" class="service-icon">
                <p class="service-name">Inspection</p>
                <p class="service-descr">Augue congue turpis ut purus ut nibh sit. Et consectetur elit volutpat blandit sed facilisis. At in orci vel a vestibulum egestas. Ut faucibus.</p>
                <a href="" class="service-link">Learn More</a>
            </div>
            <div class="grid-item">
                <img ngSrc="../../assets/icon.png" width="64" height="64" class="service-icon">
                <p class="service-name">Inspection</p>
                <p class="service-descr">Augue congue turpis ut purus ut nibh sit. Et consectetur elit volutpat blandit sed facilisis. At in orci vel a vestibulum egestas. Ut faucibus.</p>
                <a href="" class="service-link">Learn More</a>
            </div>
            <div class="grid-item">
                <img ngSrc="../../assets/icon.png" width="64" height="64" class="service-icon">
                <p class="service-name">Inspection</p>
                <p class="service-descr">Augue congue turpis ut purus ut nibh sit. Et consectetur elit volutpat blandit sed facilisis. At in orci vel a vestibulum egestas. Ut faucibus.</p>
                <a href="" class="service-link">Learn More</a>
            </div>
          </div>

    </section>

    <section class="whyus">
        <div class="promo-text">
            <h2 class="section-title">Why Choose Us</h2>
            <h3 class="promotion">The Top Reasons to Partner with Us</h3>
        </div>

        <div class="featured-list">
            <div class="feature">
                <img ngSrc="../../assets/Iconf.png" width="38" height="38" class="featured-icon">
                <div class="feature-text">
                    <p class="icon-name">Expertise in AI and Robotics</p>
                    <p class="icon-descr">In non vel fermentum aliquam sed amet lorem ultrices lacus. Cras eget tincidunt lectus risus id ultrices.</p>
                </div>
            </div>

            <div class="feature">
                <img ngSrc="../../assets/Iconf.png" width="38" height="38" class="featured-icon">
                <div class="feature-text">
                    <p class="icon-name">Robotics System Integration</p>
                    <p class="icon-descr">In non vel fermentum aliquam sed amet lorem ultrices lacus. Cras eget tincidunt lectus risus id ultrices.</p>
                </div>
            </div>

            <div class="feature">
                <img ngSrc="../../assets/Iconf.png" width="38" height="38" class="featured-icon">
                <div class="feature-text">
                    <p class="icon-name">Cutting-Edge Technologies</p>
                    <p class="icon-descr">In non vel fermentum aliquam sed amet lorem ultrices lacus. Cras eget tincidunt lectus risus id ultrices.</p>
                </div>
            </div>
        </div>

        <div class="review-box-container">
            <div class="review-box">
                <div class="google-review">
                    <div class="rating">4.8</div>
                    <img ngSrc="../../assets/Star.png" width="136" height="24" class="star">
                    <div class="google">Google Review</div>
                    <div class="descr">Erat fusce placerat luctus ultrices dolor.</div>
                </div>
            </div>
        </div>
    </section>

    <section class="testimonial">
        <div class="testimonial-container">
            <div class="header-title">Trusted by <span>30k+ World Class </span>Companies</div>
            <div class="testimonial-list">
                
            </div>
        </div>
    </section>












    
</main>

<app-footer></app-footer>